<div class="robotoFont sticky top-0 text-red-500 text-xl bg-black py-4 px-4 ">
    <nav class="flex items-center align-middle justify-between">
        <div class="flex gap-3 items-center">
            <span>Navbar</span>
        </div>
        <ul class="flex gap-5">
            <a class="hover:underline cursor-pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink=""><li>Home</li></a>
            <a class="hover:underline cursor-pointer" routerLinkActive="active" routerLink="host"><li>HostListener</li></a>
            <a class="hover:underline cursor-pointer" routerLinkActive="active" routerLink="render"><li>Renderer</li></a>
            <a class="hover:underline cursor-pointer" routerLinkActive="active" routerLink="view"><li>ViewChild</li></a>
            <a class="hover:underline cursor-pointer" routerLinkActive="active" routerLink="login"><li>Login</li></a>
        </ul>
    </nav>
</div>

